* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 50vw;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    a {
        color: var(--black);
    }
}

:root {
    --black: #1f1f1f;
}

#dark-mode-toggle {
    margin: 2rem;
    padding: 0.5rem 1rem;
}

.dark-mode {
    background-color: var(--black);
    color: #fff;
    a {
        color: #fff;
    }

    #navbar {
        background-color: var(--black);
    }
}

code {
    font-size: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "nav" "title" "about" "links";
    gap: 1rem;
}

.grid-item {
    padding: 1rem;
}

#navbar {
    background-color: #fff;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: -webkit-sticky; /* safari */
    position: sticky;
    top: 0; /* for firefox */

    #nav-links {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
    }
}

.active-link {
    font-weight: 600;
}

#title-sect {
    grid-area: title;

    #title {
        font-size: 3rem;
        font-weight: 700;
    }
}

.semi-title {
    font-size: 2rem;
    font-weight: 600;
}

#about-sect {
    grid-area: about;

    .about-text {
        margin-left: 2rem;

        span {
            font-weight: 600;
        }
    }
}

#links-sect {
    grid-area: links;

    .links {
        list-style-type: none;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

#friendly-note {
    padding: 2rem;
}

/* TABLET */
@media only screen and(max-width: 1000px) {
    html, body {
        width: 75vw;
    }
}

/* MOBILE */
@media only screen and (max-width: 600px) {
    html, body {
        width: 100vw;     
    }
}