* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--light-blue);
    height: 100vh;
    width: 50vw;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
}

:root {
    --black: #1f1f1f;
    --gray: #516566;
    --light-blue: #a7c0c7;
}

code {
    color: var(--gray);
    font-size: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "nav" "title" "about" "links";
    gap: 1rem;
}

.grid-item {
    padding: 2rem;
}

#navbar {
    grid-area: nav;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;

    a {
        color: var(--gray);
    }
}

#title-sect {
    grid-area: title;

    #title {
        font-size: 3rem;
        font-weight: 700;
        color: var(--black);
    }
}

.semi-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
}

#about-sect {
    grid-area: about;

    .about-text {
        margin-left: 2rem;
        color: var(--black);

        span {
            font-weight: 600;
        }
    }
}

#links-sect {
    grid-area: links;

    .links {
        list-style-type: georgian;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .link > a{
            color: var(--gray);
        }
    }
}

/* TABLET */
@media only screen and(max-width: 1000px) {
    html, body {
        width: 75vw;
    }
}

/* MOBILE */
@media only screen and (max-width: 600px) {
    html, body {
        width: 100vw;     
    }
}