@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
/* this is a test to see if my new thing is connected to github */
/* this is the third test */
* { margin: 0; padding: 0; }

html, body { height: 100vh; }

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-item {
    display: grid;
    border: 1px solid black;
}
/* deskop */
@media (min-width: 1280px) {
    body {
        background-color: red;
    }
}
/* tablet */
@media (min-width: 768px) {
    body {
        background-color: blue;;
    }
}
/* mobile */
@media (min-width: 360px) {
    body{
        background-color: green;
    }
}
