@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap');

* { margin: 0; padding: 0; }

html, body {
    height: 100vh;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Fira Sans', sans-serif;
}

:root { --black: #1b1c1e; }

.content {
    width: 600px;
    margin: auto;
    padding: 6rem;
}

h1 {
    color: var(--black);
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    color: var(--black);
    font-size: 1rem;
}

p {
    color: var(--black);
    font-size: 1rem;
}

span { font-weight: bold; }

a { color: blue; }

a:visited { text-decoration: none; }

ul { padding-left: 3rem; }
