@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

* { margin: 0; padding: 0; font-size: 16px; }

:root {
	--cod-gray: #090808;
	--oslo-gray: #939597;
	--rolling-stone: #7b8487;
	--raven: #777b84;
	--off-white: #f9f9f9;
}

html, body {
	height: 100vh;
	width: 100vw;
	background-color: var(--raven);
}

.grid-container {
	display: grid;
}

@media (min-width: 320px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) {
	.grid-container {
		grid-template-columns: 1fr 1fr;
	}

	.grid-item {
		border: 1px solid var(--off-white);
	}
	
	/*
	.navbar {
		grid-column: 1 / span 2;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 1rem 6rem;
		background-color: var(--cod-gray);
	}

	.nav-item a, .nav-item a:hover, .nav-item a:visited {
		font-size: 1.25rem;
		text-decoration: none;
		padding: 1rem;
		color: var(--rolling-stone);
		transition: 0.2s
	}

	.nav-item a:hover {
		color: var(--off-white);
		transition: 0.2s;
	}
	*/

	.main-sect {
		grid-column: 1 / span 2;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		padding: 1rem;
		gap: 0.5rem;
	}

	.main-title {
		font-size: 3rem;
		font-weight: 700;
	}

	.main-job {
		font-size: 1.5rem;
		font-weight: 600;
	}

	.about-sect {
		grid-column: 1 / span 2;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		gap: 0.5rem;
		padding: 1rem;
	}

	.about-title {
		font-size: 2rem;
	}

	.xp-sect {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
	}

	.edu-sect {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
	}

	.proj-sect {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
	}

	.skill-sect {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
	}

	.info-sect {
		grid-column: 1 / span 2;
		display: flex;
		width: 100vw;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.info-title {
		font-size: 2rem;
	}

	.info-links {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 3rem;
		padding: 1rem;
	}

	.footer {
		grid-column: 1 / span 2;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--cod-gray);
		color: var(--raven);
		padding: 1rem;
	}
}
