@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

:root {
	--dark-blue: #12232e;
	--med-blue: #007cc7;
	--light-blue: #4da8da;
	--shadow-dark-blue: #203647;
	--shadow-light-blue: #eefbfb;
}

* { padding: 0; margin: 0; font-family: "Open Sans", sans-serif; }

html, body { height: 100vh; }

.flex-container {
	height: 100vh;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: var(--med-blue);
}

.navbar {
	padding: 1rem 1rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--light-blue);
}

.nav-item a, .nav-item a:hover, .nav-item a:visited {
	text-decoration: none;
	color: var(--shadow-light-blue);
	font-weight: 700;
	transition: 0.2s;
}

.nav-item a:hover {
	color: ;
	transition: 0.2s;
}

.footer {
	background-color: ;
	font-weight: 400;
	font-size: 0.75rem;
	padding: 2rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
