<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/style.css">
    <title>Akim Website</title>
</head>

<body>
    <div class="content">
        <h1>Gavin Isaacs</h1>
        <br>
        <br>
        <p>
            Hello, I'm Gavin and I am currently a <span>computer science student</span> at the University of Akron. I am very 
            interested in <span>A.I., software engineering, lower-level programs, and algorithms.</span> Every time I write a
            project I take passion in writing, <span>clean, fast, functional, suckless code</span>(if possible). As far as my design for projects
            I would say I am more function over form.
        </p>
        <br>
        <br>
        <p>To contact please email: <code>mitchelledu04@gmail.com</code></p>
        <p>Or click the links below to contact another way.</p>
        <br>
        <br>
        <h3>Links</h3>
        <br>
        <br>
        <ul>
            <li><a href="/home/akim/Resume/document.pdf" target="_blank">Resume</a></li>
            <br>
            <li><a href="https://www.instagram.com/__akimnas__/" target="_blank">Instagram</a></li>
            <br>
            <li><a href="https://twitter.com/__akiMnaS__" target="_blank">Twitter</a></li>
            <br>
            <li><a href="https://github.com/akim-nas" target="_blank">Github</a></li>
            <br>
            <li><a href="https://www.linkedin.com/in/gavin-isaacs-35366225b/" target="_blank">Linkedin</a></li>
        </ul>
    </div>
</body>
</html>
