<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../static/style.css">
    <title>Akim Website</title>
</head>

<body>
    <div class="grid-container">

        <div class="grid-item grid-item-1" id="title-sect">
            <div class="title-item title-item-1" id="title">Akim Nas</div>
        </div>

        <div class="grid-item grid-item-2" id="navbar">
            <a class="nav-item nav-item-1" id="home" href="/">Home</a>
            <a class="nav-item nav-item-2" id="about" href="/about">About</a>
            <a class="nav-item nav-item-3" id="proj" href="/proj">Projects</a>
            <a class="nav-item nav-item-4" id="contact" href="/contact">Contact</a>
        </div>

    </div>
</body>
</html>