<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="../static/style.css">
		<title>Akim Website</title>
	</head>
	<body>
		<div class="flex-container">

			<div class="flex-item flex-item-1 navbar">
				<div class="nav-item nav-item-1">
					<a href="#">About</a>
				</div>
				<div class="nav-item nav-item-2">
					<a href="#">Experience</a>
				</div>
				<div class="nav-item nav-item-3">
					<a href="#">Education</a>
				</div>
				<div class="nav-item nav-item-4">
					<a href="#">Projects</a>
				</div>
				<div class="nav-item nav-item-5">
					<a href="#">Skills</a>
				</div>
				<div class="nav-item nav-item-6">
					<a href="#">Contact</a>
				</div>
			</div>

			<div class="flex-item flex-item-2 title-sect">
				<div class="title-item title-item-1">
					Gavin Isaacs
				</div>
				<div class="title-item title-item-2">
					Software Engineer // Student
				</div>
				<div class="title-item title-item-3">
					<button>Download</button>
				</div>
			</div>

			<div class="flex-item flex-item-3 about-sect">
				<div class="about-title">About Me</div>
				<div class="about-text">
					Hi, I'm Gavin and I am an aspiring software engineer. I take great interest in computer science, engineering and similar fields.
					Currently I am an undergraduate at the University of Akron majoring in Computer Science - Systems. I would say I am very interested in 
					artificial intelligence as well as backend and lower level hardware coding. I would like to say I defenitley take a more functional approach to programming.
					I always try to write clean, functional and hopefully suckless code.
				</div>
			</div>

			<div class="flex-item flex-item-4 xp-sect">
				<div class="xp-title">Experience</div>
				<div class="xp-text">N/A</div>
			</div>

			<div class="flex-item flex-item-5 edu-sect">
				<div class="edu-title">Education</div>
				<div class="edu-text card card-1">
					<div class="card-title">University of Akron - Computer Science</div>
					<div class="card-text">Aug. 2022 - May. 2026</div>
				</div>
				<div class="card card-2">
					<div class="card-title">Tallmadge High School - General Studies</div>
					<div class="card-text">Aug. 2018 - May. 2022</div>
				</div>
			</div>

			<div class="flex-item flex-item-6 proj-sect">
				<div class="proj-title">Projects</div>
				<div class="proj-card proj-card-1">
					<div>Personal Website</div>
					<div>Personal Portfolio // Practice website</div>
					<a href="https://github.com/akim-nas/my-website">View Repository</a>
				</div>
				<div class="proj-card proj-card-2">
					<div>N/A</div>
					<div>N/A</div>
					<a href="#">View Repository</a>
				</div>
			</div>

			<div class="flex-item flex-item-7 skill-sect">
				<div class="skill-title">Skills</div>
				<div class="skill-list">
					<div>C/C++</div>
					<div>Python</div>
					<div>Html/Css</div>
					<div>Javascript</div>
					<div>Nodejs</div>
				</div>
			</div>

			<div class="flex-item flex-item-8 contact-sect">
				<div class="contact-title">Contact</div>
				<div class="contact-list">
					<div>Email: mitchelledu04@gmail.com</div>
					<div>Twitter: @__akiMnaS__</div>
					<div>Instagram: __akimnas__</div>
				</div>
			</div>

			<div class="flex-item flex-item-9 footer">
				<div>Copyright © 2022 Gavin Isaacs</div>
			</div>
		</div>
	</body>
</html>
